* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #E5DCCA;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.con-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 90%;
    height: 5vw;
    margin: 1.5vw auto;
    padding: 0 .2vw;
    border-top: 1px solid #2F2E41;
    border-bottom: 1px solid #2F2E41;

}

.logo {
    display: flex;
    font-size: 1vw;
    cursor: pointer;
}

.nav {
    display: flex;
    margin: 0 auto;
}

.nav h4 {
    margin-right: 88px;
    font-weight: 600;
    color: #2F2E41;
    font-size: 1.2vw;
    cursor: pointer;
}

.nav>h4:last-child {
    margin-right: 0;
}

.nav-link:hover {
    border-top: 1px solid #FF6884;
    border-bottom: 1px solid #FF6884;
    color: #FF6884;
    transform: 2s ease-in;
    margin-top: -0.1vw;
}

.cta-btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}


.login-btn {
    padding: .6vw 1vw;
    border: 1px solid #FF6884;
    border-radius: 12px;
    color: #2F2E41;
    margin-right: 1.2vw;

}

.login-btn:hover {
    background-color: #FF6884;
    color: #f2f2f2;
}

.sign-btn {
    padding: .6vw 1vw;
    background-color: #FF6884;
    border: 1px solid #FF6884;
    border-radius: 12px;
    color: #f2f2f2;
}

.sign-btn:hover {
    /* border: 1px solid #FF6884; */
    background-color: #E5DCCA;
    color: #2F2E41;
}

/* main con */

.con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vw;
    padding: .8vw 2.2vw;
}

.con-sort {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.2vw 1.1vw;
    border: 1px solid #FF6884;
    background-color: #f6f6f6;
    border-radius: 18px;
}

.con-rent{
    display: flex;
    width: 100%;
}

.con-sort form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form button{
    background-color: #FF6884;
    color: #f2f2f2;
    border-radius: 8px;
    padding: .7vw 1.2vw;
    border: none;
    cursor: pointer;
    font-size: 1.2vw;
    margin-top: .8vw;
}

form #btn-reset{
    background-color: #F6F6F6;
    border: 1px solid #2F2E41;
    color: #2F2E41;
    cursor: pointer;
}

.con-sort h2{
    color: #2F2E41;
    margin-bottom: 1.9vw;
}

.con-price{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.3vw;
    border-bottom: 1px solid #dadada;
}

.con-price h2{
    color: #2F2E41;
    font-size: 1.5vw;
    margin-bottom: 1.2vw;
    font-weight: 600;
}

.con-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.3vw;
    border-bottom: 1px solid #dadada;
}

.con-area h2{
    color: #2F2E41;
    font-size: 1.5vw;
    margin-bottom: 1.2vw;
    font-weight: 600;
}

.con-face{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.3vw;
    border-bottom: 1px solid #dadada;
}

.con-face h2{
    color: #2F2E41;
    font-size: 1.5vw;
    margin-bottom: 1.2vw;
    font-weight: 600;
}



/* custom radio buttons */

.custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 1.2vw;
    width: fit-content;
    border-radius: 8px;
    padding: .6vw .8vw;
    border: 1px solid #dadada;
}
.custom-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 1.2vw;
    width: fit-content;
    border-radius: 8px;
    padding: .6vw .8vw;
    border: 1px solid #dadada;
}

.hidden-radio {
    opacity: 0;
    position: absolute;
}

.custom-label {
    position: relative;
    cursor: pointer;
    padding-left: 1.8vw;
    font-size: 1.2vw;
    user-select: none;
}

.custom-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1vw;
    height: 1vw;
    border: 2px solid #FF6884; /* Change border color */
    border-radius: 50%;
    background-color: white; /* Change background color */
    transition: background-color 0.3s, border-color 0.3s;
}

.hidden-radio:checked + .custom-label:before {
    background-color: #FF6884; /* Change background color when checked */
    border-color: #FF6884; /* Change border color when checked */
}

.con-plots {
    width: 65%;
    height: 155.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
    /* border: 1px solid #FF6884; */
}

/* Hide the scrollbar */
.con-card::-webkit-scrollbar {
    width: 0.1vw; 
    scroll-behavior: smooth;
}

.con-card::-webkit-scrollbar-thumb {
    background-color: #dadada; /* Color of the scrollbar thumb */
    border-radius: 10px;
    scroll-behavior: smooth;
}

.con-search-bar{
    display: flex;
    background-color: #f6f6f6;
    width: fit-content;
    height: 3.4vw;
    border-radius: 8px;
    border: 1px solid #FF6884;
    align-items: center;
    padding: 0 .5vw;
    margin-bottom:  1.2vw;
}

.con-search-bar form{
    width: 100%;
    align-items: center;
    display: flex;
}

.con-search-bar form>button{
    cursor: pointer;
    padding: 0 .6vw;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

form button>img{
    margin-top: auto;
    margin-bottom: auto;
}

.con-search-bar input{
    width: 22vw;
    margin-right: .7vw;
    padding: 0 .9vw;
    border: none;
    outline: none;
    font-size: 1.2vw;
    background-color: #f6f6f6;
}

.con-card{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto; 
    scroll-behavior: smooth;
    flex-direction: column;
}

.plot-card{
    width: 90%;
    min-height: 34vw;
    /* border: 1px solid #FF6884; */
    border-radius: 12px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: .8vw auto;

    img{
        max-width: 100%;
        max-height: 70%;
        object-fit: cover; 
        border-radius: 12px 12px 0px 0px;
    }

    .con-loc-price{
        padding: .8vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .con-loc-price h2{
        font-size: 1.2vw;
        color: #2F2E41;
    }

    .con-dec{
        padding: .8vw;
    }

    .con-dec h2{
        font-size: 1.2vw;
        color: #2F2E41;
        font-weight: 500;
    }

}

/* footer */

.footer {
    width: 100%;
    height: 100%;
    margin-bottom: 2vw;
}

.con-footer {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 98%;
    padding: 2vw .5vw;
    border-radius: 12px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    background-color: #2F2E41;
}

.con1 {
    display: flex;
    flex-direction: column;

}

.sub-con1 {
    display: flex;
    flex-direction: column;
    margin-top: -1vw;
    margin-bottom: 1.8vw;
}

.sub-con1 img {
    width: 8vw;
    height: 6vw;
    cursor: pointer;
}

.sub-con1 img:hover {
    border: none;
}

.sub-con1 h2 {
    font-size: 2vw;
    font-family: 500;
    color: #F6F6F6;
}

.con2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.con2 h2 {
    font-size: 1.7vw;
    margin-bottom: 1.1vw;
    color: #F6F6F6;
}

.con2 h3 {
    font-size: 1.2vw;
    color: #F6F6F6;
    margin-bottom: 1vw;
}

.con2 h3:hover {
    border-top: 1px solid #FF6884;
    border-bottom: 1px solid #FF6884;
    color: #FF6884;
    transform: 2s ease-in;
    cursor: pointer;
}

.con3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.con3 h2 {
    font-size: 1.7vw;
    margin-bottom: 1.1vw;
    color: #F6F6F6;
}

.con3 h3 {
    font-size: 1.2vw;
    color: #F6F6F6;
    margin-bottom: 1vw;
}

.con3 h3:hover {
    border-top: 1px solid #FF6884;
    border-bottom: 1px solid #FF6884;
    color: #FF6884;
    transform: 2s ease-in;
    cursor: pointer;
}

.social {
    display: flex;
    cursor: pointer;
}

.social img {
    margin-right: 1.6vw;
    height: 24px;
    width: 24px;
}

.social img:last-child {
    margin-right: 0;
}

