<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="con-footer">
            <div class="con1">

                <div class="sub-con1">
                    <img src="./static/assets/f-logo.svg" alt="">
                    <h2>Explore, Invest <br> and Build</h2>
                </div>


                <div class="social">
                    <img class="nav-link" data-url="https://twitter.com/" src="{% static 'assets/icon/tt.svg' %}" alt=""
                    data-url="/">
                <img class="nav-link" data-url="https://www.youtube.com/" src="{% static 'assets/icon/yt.svg' %}" alt=""
                    data-url="/">
                <img class="nav-link" data-url="https://www.linkedin.com/" src="{% static 'assets/icon/linked.svg' %}" alt=""
                    data-url="/list_plot">
                <img class="nav-link" data-url="https://www.instagram.com/" src="{% static 'assets/icon/insta.svg' %}" alt=""
                    data-url="/list_plot">
                </div>
            </div>
            <div class="con2">
                <h2>Quick links</h2>
                <h3>Buy</h3>
                <h3>Sell</h3>
                <h3>Rent</h3>
                <h3>Exclusive</h3>
            </div>
            <div class="con3">
                <h2>Pages</h2>
                <h3>About us</h3>
                <h3>Contact us</h3>
                <h3>Privacy Policy</h3>
                <h3>Terms & Conditions</h3>
            </div>
        </div>
    </div>
</body>
</html>