<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'policy.css' %}">
    <title>Privacy Policy</title>
</head>

<body>
    <div class="main">
        <div class="con-main-hero">
            <div class="con-header">
                <div class="logo" data-url="/home">
                    <img src="{% static 'assets/logo.svg' %}" data-url="/home" alt="logo">
                </div>
                <div class="nav">
                    <h4 class="nav-link" data-url="/home">Home</h4>
                    <h4 class="nav-link" data-url="/buy">Buy</h4>
                    <h4 class="nav-link" data-url="/sell">Sell</h4>
                    <h4 class="nav-link"
                        data-url="/rent">
                        Rent</h4>
                    <h4 class="nav-link" data-url="/about">About us</h4>
                </div>
                <div class="cta-btn">
                    <div class="login-btn nav-link" data-url="/list_plot">List Plot</div>
                    <div class="profile nav-link-profile" data-url="{% url 'profile_page' %}">
                        <img data-url="{% url 'profile_page' %}" class="nav-link-profile"
                            src="{% static 'assets/icon/icon-profile.svg' %}" alt="">
                    </div>
                </div>
            </div>

        </div>

        <div class="con">
            <div class="sub1">
                <h1>Privacy Policy for Buy My Place</h1>
                <p id="point">
                    Welcome to Buy My Place! We prioritize the privacy of our users and have crafted this Privacy Policy
                    to explain how we collect, use, and safeguard your information. <br><br>

                    When you create an account on Buy My Place, we collect personal details like your name, email, and
                    contact information. Additionally, information about properties you list, payment details for
                    premium features, and usage data are collected to enhance your experience. <br> <br>

                    The information we gather is utilized for various purposes, including platform operations,
                    personalization, transaction processing, and customer support. We may share data with third-party
                    service providers for seamless platform functioning and legal compliance when necessary. <br> <br>

                    Security is paramount, and we employ reasonable measures to protect your information from
                    unauthorized access. You have the ability to manage your account settings and communication
                    preferences. <br> <br>

                    Buy My Place uses cookies to improve your experience, and you can adjust cookie preferences through
                    your browser settings. <br> <br>

                    We may update this policy periodically, and any changes will be posted on this page. If you have
                    questions or concerns. <br><br>

                    By using Buy My Place, you agree to the terms outlined in this privacy policy. If you disagree,
                    please refrain from using our platform. <br><br>
                </p>
            </div>

        </div>
        <div class="footer">
            <div class="con-footer">
                <div class="con1">

                    <div class="sub-con1">
                        <img class="f-logo nav-link " data-url="/home" src="{% static 'assets/f-logo.svg' %}"
                            data-url="/" alt="">
                        <h2>Explore, Invest <br> and Build</h2>
                    </div>


                    <div class="social">
                        <img class="nav-link" data-url="https://twitter.com/" src="{% static 'assets/icon/tt.svg' %}" alt=""
                            data-url="/">
                        <img class="nav-link" data-url="https://www.youtube.com/" src="{% static 'assets/icon/yt.svg' %}" alt=""
                            data-url="/">
                        <img class="nav-link" data-url="https://www.linkedin.com/" src="{% static 'assets/icon/linked.svg' %}" alt=""
                            data-url="/list_plot">
                        <img class="nav-link" data-url="https://www.instagram.com/" src="{% static 'assets/icon/insta.svg' %}" alt=""
                            data-url="/list_plot">
                    </div>
                </div>
                <div class="con2">
                    <h2>Quick links</h2>
                    <h3 class="nav-link" data-url="/buy">Buy</h3>
                    <h3 class="nav-link" data-url="/sell">Sell</h3>
                    <h3 class="nav-link" data-url="/rent">Rent</h3>
                    <h3 class="nav-link" data-url="/exclusive">Exclusive</h3>
                </div>
                <div class="con3">
                    <h2>Pages</h2>
                    <h3 class="nav-link" data-url="/about">About us</h3>
                    <h3 class="nav-link" data-url="/contact">Contact us</h3>
                    <h3 class="nav-link" data-url="/policy">Privacy Policy</h3>
                    <h3 class="nav-link" data-url="/terms">Terms & Conditions</h3>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const hlinks = document.querySelectorAll(".nav-link, .logo, .nav-link-profile, .nav-plot, .nav-city");



            hlinks.forEach(link => {
                link.addEventListener("click", function () {
                    const url = this.getAttribute('data-url');
                    window.location.href = url

                    this.classList.add('clicked');

                    setTimeout(() => {
                        this.classList.remove('clicked');
                    }, 300);
                })
            });
        });
    </script>

</body>

</html>