<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'terms_con.css' %}">
    <title>Terms & Conditions</title>
</head>

<body>
    <div class="main">
        <div class="con-main-hero">
            <div class="con-header">
                <div class="logo" data-url="/home">
                    <img src="{% static 'assets/logo.svg' %}" data-url="/home" alt="logo">
                </div>
                <div class="nav">
                    <h4 class="nav-link" data-url="/home">Home</h4>
                    <h4 class="nav-link" data-url="/buy">Buy</h4>
                    <h4 class="nav-link" data-url="/sell">Sell</h4>
                    <h4 class="nav-link"
                        data-url="/rent">
                        Rent</h4>
                    <h4 class="nav-link" data-url="/about">About us</h4>
                </div>
                <div class="cta-btn">
                    <div class="login-btn nav-link" data-url="/list_plot">List Plot</div>
                    <div class="profile nav-link-profile" data-url="{% url 'profile_page' %}">
                        <img data-url="{% url 'profile_page' %}" class="nav-link-profile"
                            src="{% static 'assets/icon/icon-profile.svg' %}" alt="">
                    </div>
                </div>
            </div>

        </div>

        <div class="con">
            <div class="sub1">
                <h1>Acceptance of Terms </h1>
                <p>By accessing or using Buy My Place, you acknowledge that you have read, understood, and agree to be
                    bound by these Terms and Conditions. If you do not agree with any part of these terms, you may not
                    use our platform.</p>
            </div>
            <div class="sub1">
                <h1>Use of the Platform</h1>
                <p>Buy My Place is a property listing and transaction platform. Users can list, buy, sell, or rent
                    properties through our services.

                    You agree to use the platform for lawful purposes only and in a manner consistent with all
                    applicable laws and regulations.</p>
            </div>
            <div class="sub1">
                <h1>User Accounts</h1>
                <p>To access certain features of Buy My Place, you may be required to register for an account. You are
                    responsible for maintaining the confidentiality of your account information.

                    You agree to provide accurate and complete information during the registration process and to
                    update such information to keep it accurate and current.</p>
            </div>
            <div class="sub1">
                <h1>Listing Properties</h1>
                <p> If you choose to list a property on Buy My Place, you agree to provide accurate and complete
                    information about the property.

                    Buy My Place reserves the right to review and remove any property listing that violates these
                    terms or is deemed inappropriate.</p>
            </div>
            <div class="sub1">
                <h1>Transactions</h1>
                <p> Buy My Place facilitates property transactions but is not a party to any transaction between buyers
                    and sellers. We do not guarantee the accuracy or legality of property listings.

                    Users are responsible for conducting their due diligence before entering into any property
                    transactions.</p>
            </div>
        </div>
        <div class="footer">
            <div class="con-footer">
                <div class="con1">

                    <div class="sub-con1">
                        <img class="f-logo nav-link " data-url="/home" src="{% static 'assets/f-logo.svg' %}"
                            data-url="/" alt="">
                        <h2>Explore, Invest <br> and Build</h2>
                    </div>


                    <div class="social">
                        <img class="nav-link" data-url="https://twitter.com/" src="{% static 'assets/icon/tt.svg' %}" alt=""
                            data-url="/">
                        <img class="nav-link" data-url="https://www.youtube.com/" src="{% static 'assets/icon/yt.svg' %}" alt=""
                            data-url="/">
                        <img class="nav-link" data-url="https://www.linkedin.com/" src="{% static 'assets/icon/linked.svg' %}" alt=""
                            data-url="/list_plot">
                        <img class="nav-link" data-url="https://www.instagram.com/" src="{% static 'assets/icon/insta.svg' %}" alt=""
                            data-url="/list_plot">
                    </div>
                </div>
                <div class="con2">
                    <h2>Quick links</h2>
                    <h3 class="nav-link" data-url="/buy">Buy</h3>
                    <h3 class="nav-link" data-url="/sell">Sell</h3>
                    <h3 class="nav-link" data-url="/rent">Rent</h3>
                    <h3 class="nav-link" data-url="/exclusive">Exclusive</h3>
                </div>
                <div class="con3">
                    <h2>Pages</h2>
                    <h3 class="nav-link" data-url="/about">About us</h3>
                    <h3 class="nav-link" data-url="/contact">Contact us</h3>
                    <h3 class="nav-link" data-url="/policy">Privacy Policy</h3>
                    <h3 class="nav-link" data-url="/terms">Terms & Conditions</h3>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const hlinks = document.querySelectorAll(".nav-link, .logo, .nav-link-profile, .nav-plot, .nav-city");



            hlinks.forEach(link => {
                link.addEventListener("click", function () {
                    const url = this.getAttribute('data-url');
                    window.location.href = url

                    this.classList.add('clicked');

                    setTimeout(() => {
                        this.classList.remove('clicked');
                    }, 300);
                })
            });
        });
    </script>
</body>

</html>